.composition {
  position: relative;

  &__photo {
    width: 55%;
    box-shadow: $box-shadow;
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 2rem;

    &--left {
      left: 0;
      top: -2rem;
    }

    &--mid {
      right: 0;
      top: 2rem;
    }

    &--right {
      left: 20%;
      top: 10rem;
    }
    &:hover {
      outline: 1.5rem solid $color-primary;
      transform: scale(1.1);
      box-shadow: $box-shadow;
      z-index: 20;
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.9);
  }
}
