.feature-box {
  background-color: rgba($color-white, 0.6);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  transition: 0.3s;
  box-shadow: $box-shadow;

  &_turnAround {
    @extend .feature-box;
    width: 25rem;
    height: 50rem;
    transition: all 0.5s;

    &:hover {
      transform: rotateY(180deg);
    }
  }

  &:hover {
    transform: translateY(-0.3rem) scale(1.1);
  }

  &_icon {
    font-size: $font-size-large;
    background-image: linear-gradient(
      to right,
      $color-primary-light,
      $color-primary-dark
    );

    display: inline-block;
    -webkit-background-clip: text;
    color: transparent;
  }
}
